<div class="card-text row">
	<label class="col-4">Fecha:</label><input class="col-7" type="date" name="filter">
	<label class="col-4">Usuario:</label><input type="text" name="filter_name" class="col-7">
	<label class="col-4">Gafet:</label><input type="number" name="filter_badge" class="col-7">
	<label class="col-4">Hardware:</label><input type="text" name="filter_hardware" class="col-7">
	<a class="btn btn-primary" style="color: white; margin-left: 70%;">Buscar</a>
</div>

<style type="text/css">
	input{
		margin-bottom: 4%
	}
</style>