{% extends 'HardwareManagment/base.html' %}

{% block title %}Mitsuba{% endblock %}

{% block content %}
<div class="jumbotron container" style="background-color: #080d0a;">
	<h1 class="text-center" style="color: white">MITSUBA: Mantenimiento de hardware.</h1>
</div>

<div class="container">
<div class="row">
	<div class="col-sm">
			<div class="card-header" style="background-color: black; color: white;">
				Reportes
			</div>
			<br><br>
			<div class="card-body row">
				<a href="{% url 'Home:print' %}" class="btn-primary btn col-sm">Imprimir</a>
				<div class="col-sm"></div>
				<a href="{% url 'Home:maintenance' %}" class="btn-primary btn col-sm">Mantenimientos</a>
				<div class="col-sm"></div>
				<a href="{% url 'Home:users' %}" class="btn-primary btn col-sm">Usuarios</a>
				<div class="col-sm"></div>
				<a href="{% url 'Home:hardware' %}" class="btn-primary btn col-sm">Equipos</a>
				<div class="col-sm"></div>
				<a href="{% url 'Home:vendors' %}" class="btn-primary btn col-sm">Proveedores</a>
			</div>
		
	</div>
</div>
</div>
{% endblock %}