{% extends 'HardwareManagment/base.html' %}

{% block title %}Imprimir{% endblock %}

{% block content %}

<div class="row">	
		<div class="col-1"></div>
		<div class="col-3">
			<div class="card" >
				<div class="card-header" style="background-color: black; color: white">
					Filtros
				</div>
				<div class="card-body">
					{% include 'HardwareManagment/print/filters.html' %}
				</div>
			</div>
		</div>
		<div class="col-7">
			<div class="card">
				<div class="card-header" style="background-color: black; color: white">
					Mantenimientos
				</div>
				<div class="card-body" style="background-color: white">
					<table class="table table-striped card-text">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Hardware</th>
								<th>Fecha programada</th>
								<th>Fecha real</th>
								<th>Imprimir</th>
							</tr>
						</thead>
						<tbody>
							{% include 'HardwareManagment/print/table.html' %}
						</tbody>
					</table>
				</div>	
			</div>
		</div>
	</div>

{% endblock %}